{% extends "base.html" %}
{% block content %}
<div class="text-center"><h1>{{ location.name }}</h1></div>
<div class="text-right">
    <div><a href="/locations/{{ location.id }}/edit">Edit</a></div>
    <div><a href="/locations/create?adj={{ location.id }}">Create adjacent</a></div>
</div>
<div class="table-responsive">
<table class="table table-striped">
    <tbody>
    <tr>
        <td>ID</td>
        <td>
            {{ location.id }}
        </td>
    </tr>
    <tr>
        <td>Type</td>
        <td>
            {% if location.type == 0 %}
              <span class="badge badge-primary">START</span>
            {% elif location.type == 1 %}
              <span class="badge badge-secondary">EMPTY</span>
            {% elif location.type == 2 %}
              <span class="badge badge-danger">FIGHT</span>
            {% elif location.type == 3 %}
              <span class="badge badge-success">HEALING</span>
            {% endif %}
        </td>
    </tr>
    {% if location.group %}
        <tr>
            <td>Group</td>
            <td>
                <a href="/groups/{{ location.group.id }}">{{ location.group.name }}</a>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td>Desription</td>
        <td><code>{{ location.description }}</code></td>
    </tr>
    </tbody>
</table>
</div>
{% if adjacent %}
<p>
    <h4>Adjacent locations</h4>
        <ul>
            {% for location in adjacent %}
                <li><a href="/locations/{{ location.id }}">{{ location.name }} {% if location.town %} {{ location.town }} {% endif %}</a></li>
            {% endfor %}
        </ul>
</p>
{% endif %}
{% if location.type == location.SHOP %}
<h4>Shop info</h4>
<div class="table-responsive">
<table class="table table-striped">
<thead>
    <tr>
      <th>Item</th>
      <th>Price</th>
      <th>Count</th>
    </tr>
</thead>
<tbody>
{% for slot in location.shop_slots %}
    <tr>
      <td><a href="/items/{{ slot.item.id }}">{{ slot.item.title }}</a></td>
      <td>{{ slot.price }}</td>
      <td>{{ slot.count }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endif %}
{% endblock %}
