{% extends "base.html" %}
{% block content %}
<div class="text-center"><h1>{{ location.name }}</h1></div>
<p class="text-center">
<button type="submit" class="btn btn-primary" onclick="window.location='/locations/create?to={{ location.id }}'">Add entry</button>
<button type="submit" class="btn btn-secondary" onclick="window.location='/locations/create?from={{ location.id }}'">Add exit</button>
</p>
<div class="table-responsive">
<table class="table table-striped">
    <tbody>
    <tr>
        <td>ID</td>
        <td>
            {{ location.id }}
            {% if not location.exits %}<span class="badge badge-warning">DEADEND</span>{% endif %}
            {% if not location.entries and location.type != 0 %}<span class="badge badge-warning">UNREACHABLE</span>{% endif %}
        </td>
    </tr>
    <tr>
        <td>Type</td>
        <td>
            {% if location.type == 0 %}
              <span class="badge badge-primary">START</span>
            {% elif location.type == 1 %}
              <span class="badge badge-secondary">EMPTY</span>
            {% elif location.type == 2 %}
              <span class="badge badge-success">HEALING</span>
            {% elif location.type == 3 %}
              <span class="badge badge-danger">FIGHT</span>
            {% endif %}
        </td>
    </tr>
    <tr>
        <td>Desription</td>
        <td><code>{{ location.description }}</code></td>
    </tr>
    {% if exits %}
        <tr>
            <td>Exits</td>
            <td>
                <ul>
                    {% for exit in exits %}
                        <li><a href="/locations/{{ exit.id }}">{{ exit.name }}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endif %}
    {% if entries %}
        <tr>
            <td>Entries</td>
            <td>
                <ul>
                    {% for entry in entries %}
                        <li><a href="/locations/{{ entry.id }}">{{ entry.name }}</a></li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>
</div>
{% endblock %}
