{% extends "base.html" %}
{% block head %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
<div class="text-center"><h1>{{ group.name }}</h1></div>
<p>Description: <code>{{ group.description }}</code></p>
<div class="text-right">
    <div><a href="/locations/create?group={{ group.id }}">Create location inside group</a></div>
</div>
<div id="group-graph" style="border: 1px solid #eee; height: 700px;" class="container"></div>
<div class="text-right">
    <div><a href="#" id="border-link">Create adjacent border</a></div>
</div>
<script type="text/javascript">
    var nodes = new vis.DataSet([
        {% for location in locations %}
            { id: {{ location.id }}, label: "{{ location.name }}", color:
                {% if location.type == 0 %}
                  "#007bff"
                {% elif location.type == 1 %}
                  { background: "white", border: "#868e96" }
                {% elif location.type == 2 %}
                  "#dc3545"
                {% elif location.type == 3 %}
                  "#28a745"
                {% elif location.type == 4 %}
                  "#ffc107"
                {% endif %}
            },
        {% endfor %}

        {% for border in borders %}
            { id: {{ border.id }}, label: "{{ border.name }} (border)", color: "#868e96" },
        {% endfor %}
    ])

    var edges = new vis.DataSet([
        {% for edge in edges %}
            { from: {{ edge[0] }}, to: {{ edge[1] }} },
        {% endfor %}
    ])

    var container = document.getElementById("group-graph");
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {
        manipulation: {
            addNode: false,
            addEdge: function(data, callback) {
                if (data.from != data.to) {
                    $.ajax({
                        method: "POST",
                        url: "/gateways/create",
                        data: {
                            from: data.from,
                            to: data.to
                        }
                    }).done(function() {
                        callback(data)
                    })
                }
            },

            deleteEdge: function(data, callback) {
              var edge = edges.get(data.edges[0])
              console.log(edge)
              $.ajax({
                  method: "POST",
                  url: "/gateways/delete",
                  data: {
                      from: edge.from,
                      to: edge.to
                  }
              }).done(function() {
                  callback(data)
              })
            }
        }
    };
    var network = new vis.Network(container, data, options);

    network.on("selectNode", function (params) {
        var id = this.getNodeAt(params.pointer.DOM);
        document.getElementById("border-link").href = "/locations/create?adj=" + id;
    });

    network.on("doubleClick", function (params) {
        var id = this.getNodeAt(params.pointer.DOM);
        if (id) {
            window.location = "/locations/" + this.getNodeAt(params.pointer.DOM);
        }
    });
</script>
{% endblock %}
